/* 라이트/다크 공통 변수 정의 */
$light: (
  bg: #ffffff,
  text: #111827,
  primary: #1ce23d,
  underline:#d8d8d8
  );
  
  $dark: (
    bg: #0b1220,
    text: #f0f0f0,
    primary: #48ff66,
    underline:#2b2b2b
);

:root {
  @each $k, $v in $light {
    --#{$k}: #{$v};
  }
}

[data-theme="dark"] {
  @each $k, $v in $dark {
    --#{$k}: #{$v};
  }
}